<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.rongcloud.um">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 旧 oppo 推送权限相关 -->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <!-- xiaomi  -->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />
    <!-- meizu-->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
    <permission
        android:name="${applicationId}.push.permission.MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.push.permission.MESSAGE" />

    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/seal_app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/seal_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RcDemoIM">
        <activity
            android:name=".ui.MyMentionMemberSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LanguageSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DoMainUltraGroupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DoMainChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DoMainGroupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ParameterSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NavFileSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyConversationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DoMainMessageActivity"
            android:exported="false" />




        <receiver
            android:name=".custom.CustomPushMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>